<div class='body'>
  <div class='container-description'>
    <h1 class='title-video'>Viagem no Espaço</h1>
    <div class='row'>
      <div class='photo-canal'>
      </div>
      <div class='column'>
        <p>
          Canal Viagem no Espaço
        </p>
        <p>24.000 <span>inscritos</span></p>
      </div>
    </div>
    <div class='description'></div>
    <div class='row'>
      <button>Inscreva-se</button>
    </div>
  </div>
  <div class='container-video'>
    <div class='video'>
      <img class='imgPlay' src='/assets/Play.png' alt='play' />
    </div>
  </div>
</div>