<nav class='menu'>
  <LinkTo @route='index' class='menu-index'>
    <h1>Youtube</h1>
  </LinkTo>
  <div class='links'>
    <input type='text' class='inputSearch' />
  </div>
  <div>
    <img />
  </div>
</nav>