<nav class='menu'>
  <h1 class='logo'>YOUTUBE</h1>
  <div class='links'>
    <input placeholder='Busca...' type='text' class='inputSearch' />
  </div>
  <div>
    <img class='menu-button' src='/assets/Menu.png' alt='menu' />
  </div>
</nav>